ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}

li {
float: left;
border-right: 1px solid #bbb;
}

li a {
display: block;
color: white;
text-align: center;
padding: 24px 26px;
text-decoration: none;
}

li a:hover {
background-color: #111;
}
body {
background:orange;
}

h1 {
color: #FFF;
font-size: 2em;
padding-top: 100px;
width: 100%;
}

h2 {
border-bottom: 1px solid rgba(255, 255, 255, 0.5);
color: rgba(255, 255, 255, 0.5);
font-weight: 100;
font-size: 22px;
line-height: 24px;
padding-bottom: 30px;
text-align: center;
width: 70%;
}

p {
color: green;
line-height: 1.3em;
text-align: left;
width: 100%;
}

.byline {
font-family: Helvetica;
color: rgba(255, 255, 255, 0.5);
float: left;
font-size: 14px;
padding-left: 10px;
text-transform: uppercase;
}

.caption {
display: block;
font-family: 'Playfair Display', serif;
font-size: 34px;
font-style: italic;
line-height: 34px;
margin-left: 20px;
padding: 10px;
position: relative;
text-align: center;
top: 50%;
width: 90%;
}

.content {
padding: 40px;
}


table, th, td {
  border:1px solid black;
}

.image {
background-image: green("1.jpg");
background-size: cover;
background-position: left;
height: 900px;
}



.writer-img {
-webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
-moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
float: left;
width: 50px;
}
footer {  
position: fixed;  
left: 10px;  
bottom: 5px;  
right: 10px;   
width: 100%;  
background-color: gray;  
color: white;  
text-align: center;  
}
.image {
background-image: url("https://www.nbcc.edu.cn/xygk/xyjj/201207/W020160422579116262862.jpg");
background-size: 100%;
background-position: left;
height:300px;
}